<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Edit user</title>
<!--    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/main.css}"/>-->
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
</head>
<body>
<div class="w-50">
    <h1 th:inline="text">[[${#httpServletRequest.remoteUser}]]</h1>
    <form th:action="@{/logout}" method="post" class="form-group">
        <input type="submit" value="Sign Out"/>
    </form>
    <h1>Edit user</h1>
    <form method="post" action="#" th:action="@{/editUser}" th:object="${user}" class="form-group">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <label for="username"> username: </label>
            <input type="text" th:field="*{username}" id="username" name="username" class="form-control"  required/>
        </div>
        <div class="form-group">
            <label for="password">new password </label>
            <input type="text" th:field="*{password}" name="password" id="password" class="form-control"  placeholder="new password" required />
        </div>
        <div class="form-group">
            <label for="roles"> roles:</label>
            <select th:field="*{roles}" class="form-control" id="roles" multiple>
                <option th:value="'1'" th:text="USER"></option>
                <option th:value="'2'" th:text="ADMIN"></option>
                <option th:value="'3'" th:text="ROLE_GUEST"></option>
                <option th:value="'4'" th:text="ROLE_PERFORMER"></option>
            </select>
            <!--            <input type="text" th:field="*{usertype}" name="usertype" />-->
        </div>
<!--        <div class="form-group">-->
<!--            <label for="usertype"> usertype:</label>-->
<!--            <select th:field="*{usertype}" class="form-control" id="usertype">-->
<!--                <option th:value="'user'" th:text="User"></option>-->
<!--                <option th:value="'admin'" th:text="Admin"></option>-->
<!--                <option th:value="'operator'" th:text="Operator"></option>-->
<!--                <option th:value="'guest'" th:text="Guest"></option>-->
<!--            </select>-->
<!--&lt;!&ndash;            <input type="text" th:field="*{usertype}" name="usertype" />&ndash;&gt;-->
<!--        </div>-->
        <br>
        <div >
            <button type="submit" class="alert-success" >Save Changes</button>
        </div>
    </form>
    <br>
    <p><a href="welcome">To welcome page</a></p>
    <p><a href="/base">To index page</a></p>
</div>
<!--    <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>-->
    <link href="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}" />
</body>
</html>

