<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Edit user</title>
<!--    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/main.css}"/>-->
</head>
<body>
    <h1 th:inline="text">[[${#httpServletRequest.remoteUser}]]</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    <h1>Edit user</h1>
    <form method="post" action="#" th:action="@{/editUser}" th:object="${user}">
        <input type="hidden" th:field="*{id}"/>
        <label> username:
            <input type="text" th:field="*{username}" name="username" />
        </label>
<!--        <label> password:-->
<!--            <input type="text" th:field="*{password}" name="password" />-->
<!--        </label>-->
        <label> usertype:
            <select th:field="*{usertype}">
                <option th:value="'user'" th:text="User"></option>
                <option th:value="'admin'" th:text="Admin"></option>
                <option th:value="'operator'" th:text="Operator"></option>
                <option th:value="'guest'" th:text="Guest"></option>
            </select>
<!--            <input type="text" th:field="*{usertype}" name="usertype" />-->
        </label>
        <br><br>
        <div class="alert-success">
            <button type="submit" class="alert-success" style="width: 100px;height: 20px">Edit User</button>
        </div>
    </form>

    <p><a href="welcome">To welcome page</a></p>
    <p><a href="/base">To index page</a></p>
<!--    <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>-->
</body>
</html>

