<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
<!--    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />-->
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username" /> </label></div>
    <div><label> Password: <input type="password" name="password" /> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
<br>
<div><a th:href="@{/}">Back to unsecured page</a></div>
<br>
<div><label> User Name : admin </label></div>
<div><label> Password: 12345678 </label></div>
<br>
<div><label> User Name : user </label></div>
<div><label> Password: 12345678 </label></div>
<br>
<div><label> User Name : Operator </label></div>
<div><label> Password: 12345678 </label></div>
<br>
<div><label> User Name : Guest </label></div>
<div><label> Password: 12345678 </label></div>
<br>
<div><label> User Name : superAdmin </label></div>
<div><label> Password: 12345678 </label></div>

<!--<link href="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}" />-->
</body>
</html>