<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Secured page</title>
<!--    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/main.css}"/>-->
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
</head>
<body>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    <h1 style="color: red">Secured page</h1>
    <p>This is secured page</p>

    <p ><a href="registration" style="color: red">Create new user</a></p>
    <p ><a href="users" style="color: red">Users</a></p>
    <p><a href="welcome">To welcome page</a></p>
    <p><a href="/base">To index page</a></p>
<!--    <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>-->
    <link href="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}" />
</body>
</html>

