<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Users</title>
<!--    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/main.css}"/>-->
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
</head>
<body>
    <h1 th:inline="text">[[${#httpServletRequest.remoteUser}]]</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

    <table class="table table-bordered table-sm">
        <tr>
            <td>User Name</td>
            <td>Roles</td>
            <td></td>
            <td></td>
        </tr>
        <tr th:each="user : ${userList}">
            <td th:text="${user.username}"></td>
<!--            <td th:text="${user.usertype}"></td>-->
            <td>
                <ol>
                    <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
                </ol>
            </td>
            <td><a th:href="@{/editUser(id=${user.id})}" type="button" class="btn btn-info">EDIT</a></td>
            <td><a th:href="@{/deleteUser(id=${user.id})}" type="button" class="btn btn-danger">DELETE</a></td>
        </tr>
    </table>

    <p><a href="/base">To index page</a></p>
    <p><a href="secured">To secured page</a></p>

<!--    <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>-->
    <link href="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}" />
</body>
</html>

