<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Users</title>
<!--    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/main.css}"/>-->
</head>
<body>
    <h1 th:inline="text">[[${#httpServletRequest.remoteUser}]]</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

    <table style="border: black">
        <tr>
            <td>User Name</td>
            <td>User Type</td>
        </tr>
        <tr th:each="user : ${userList}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.usertype}"></td>
            <td><a th:href="@{/editUser(id=${user.id})}" >EDIT</a></td>
        </tr>
    </table>

    <p><a href="/base">To index page</a></p>
    <p><a href="secured">To secured page</a></p>

<!--    <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>-->
</body>
</html>

