<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Welcome page</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

    <h1 th:text="${welcomePage}"></h1>
    <p><span th:text="${simpleRecord}"></span></p>
    <p><span th:text="${simpleRecord.recordName}"></span></p>
    <p><a href="/base">To index page</a></p>

    <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>

